@import "tailwindcss";

* {
  font-family: 'Orbitron', sans-serif;
}

html {
  font-size: 13px;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  [class*="blur-"] {
    display: none;
  }
}